* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Itim", cursive;
}
#container {
  min-height: 100%;
}

#navbar {
  width: 100vw;
  height: 30px;
  margin: 0 auto;
  background-color: aqua;
  text-align: center;
}

button {
  background-color: rgb(255, 229, 80);
  width: 130px;
  height: 30px;
  border: none;
  cursor: pointer;
  margin: 20px;
  font-size: 1rem;
}

#parent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}
#showcase {
  margin-top: 150px;
}

#footer {
  width: 100vw;
  height: 30px;
  position: relative;
  background-color: aqua;
  text-align: center;
  margin-top: -30px;
  clear: both;
  padding-top: 5px;
}

a:link,
a:visited {
  color: darkorchid;
  text-decoration: none;
}
